---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
export const prerender = false;
import { sanityClient } from "sanity:client";
const posts = await sanityClient.fetch(`*[_type == "post" && defined(slug)]`);
---

<Layout title="My Portfolio">
<h1>Blog</h1>
<ul>
{
  posts.map((post) => {
    return (
      <li><a href={"/posts/" + post.slug.current}>{post.title}</a></li>
    );
  })
}
</ul>
	<main>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
</style>
