---
import CallToAction from "../components/molecules/CallToAction.astro";
import Hero from "../components/molecules/Hero.astro"
import Projects from "../components/molecules/Projects.astro"
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/sanity";

const posts = await getPosts();
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <Projects posts={posts} />
    <CallToAction />
  </main>
</Layout>

<style>
  main {
    max-width: 96%;
    margin-inline: auto;
  }


  
</style>
