---
const { name, title, ...props } = Astro.props;
---

<svg aria-hidden={title ? false : true} data-icon={name} {...props}>
  {title && <title>{title}</title>}
  <use xlink:href={`#${name}`}></use>
</svg>

<style>
  svg {
    display: inline;
    width: 1.5em;
    height: 1.5em;
    color: currentColor;
    fill: currentColor;
    font-size: inherit;
  }
</style>