<div>
<h2>Ready to get your business out there?</h2>
<p><a href="/">let's make something special<span>-></span></a></p>
</div>

<style>
    div {
    display: grid;
    place-content: center;
    gap: 1.5rem;
    padding: 10rem 0;
    font-weight: 700;
    }

    h2 {
        font-size: 60px; 
    }

    p {
        font-size: 20px;
        display: inline;
        gap: 1rem;
    }
</style>