---
import Link from '../atoms/Link.astro';
import Button from '../atoms/Button.astro';

const { class: className, ...rest } = Astro.props;
---

<nav class={className} {...rest}>
  <ul class={className} {...rest}>
    <li><Link href='/'>Home</Link></li>
    <li><Link href='#projects'>Projects</Link></li>
    <li><Link href='/blogs'>Blog</Link></li>
  </ul>
</nav>

<style>
nav li {
    list-style:none;
    display:inline-block;
    margin-left:1rem;
}

nav {
  flex-grow:0;
}

</style>
