---
import Header from '../components/molecules/Header.astro'
import Head from "./Head.astro";
import "../styles/global.css"

const { title = "My Portfolio", description = "My frontend projects",} = Astro.props;
---
<!doctype html>
<html lang="en">
	<Head {title} {description} />
	<body>
		<Header />
		<slot />
	</body>
</html>


